<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Page</title>
  </head>
  <body>
    <form action="/user/<%=user.id%>?_method=PATCH" method="post">
      <h1>Your current Email: <%= user.email %></h1>
      <textarea name="username" id=""><%= user.username %></textarea>
      <input
        name="password"
        type="password"
        placeholder="Enter your Password"
      />
      <button>Submit</button>
    </form>
  </body>
</html>
