<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Current Number of Users: <i><%= UserCount %></i></h1>
    <a href="/user/new">Join Us Today!</a>
  </body>
</html>
